DATABASE_URL=postgresql://user:pass@host/neondb?sslmode=require
OPENAI_API_KEY=sk-your-api-key-here
APIFY_API_TOKEN=apify_api-your-token-here
APP_PASSWORD=hasti
NEXT_PUBLIC_INSTAGRAM_USERNAME=hasti.salar1
